/**
 * common less of all HTML Elements
 */
@charset "UTF-8";

body {
    height: 100%;
    width: 100%;
    color: #3c3c3c;
    background-color: #f8f8f8;
    overflow-x: hidden;
    line-height: 1;
    font-family: '微软雅黑';
}

.pull-right {
    float: right;
}

.clearfix {
    *zoom: 1;
    &:after {
        clear: both;
    }
    &:before, &:after {
        content: "";
        display: table;
        line-height: 0
    }
}

.btn {
    padding: 5px;
    color: #fff;
    background-color: $sys-color;
    border-radius: 2px;
    text-align: center;
    border: none;
}
